# Configurações do Supabase para o Diego Bebidas CRM
VITE_SUPABASE_URL=https://jxsavpadnkktqcrvvngq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4c2F2cGFkbmtrdHFjcnZ2bmdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5MTQ3MzEsImV4cCI6MjEwNjQ5MDczMX0.UWeepyDiS2Ze9Kl7MyJlCG9E44jdxmy3kSGdoPMTSzM
